
body{
  font-family: 'Archivo', sans-serif;
}

/*Main page*/

.content-container{
 float: left;
 margin-top: 50px;
 margin-left: 100px;
}

.image-container{
 float: right;
 margin: 50px;
 display: block;
}

.main-image{
  width: 550px;
}

.menu-container, .menu-options{
  margin: 100px 0px 100px 0px;
}

.menu-options{
  background-color: #fafafa;
  padding: 20px;
}

.title{
  margin: 15px 0px 15px 0px;
}

.option, .option:hover{
  text-decoration: none;
  color: #2264e0 ;
}
